.auth {
  overflow: hidden ;
    height: 100vh;
}
.auth-wrapper {
  display: flex;
  columns: 60%, 40%;
  height: 100%;
}

.auth-banner {
  flex: 0 0 60%;
  height: 100%;
}
.auth-banner img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.auth-content {
  flex: 0 0 40%;
  padding: 4rem 3rem;
  display: flex;
  flex-direction: column;
  margin-top: 10%;
}

.auth-content .button__accent {
  margin: 1rem 0;
  width: 100%;
}

.auth-content label,
.auth-message {
  font-size: 14px;
  font-weight: 700;
}
.auth-message {
  color: rgb(3, 81, 3);
}
.error-msg {
  color: rgb(155, 3, 3);
}
.auth-content input,
.auth-content input:focus,
.auth-content input:active {
  background-color: var(--color-input-bg);
  padding: 8px 16px;
  font-family: "Lato", sans-serif;
  font-size: 14px;
}

.auth-info,
.button__auth {
  text-align: center;
  font-family: "Lato", sans-serif;
  font-size: 14px;
  font-weight: 600;
}

.button__auth {
  color: var(--color-accent);
  border: none;
  background-color: transparent;
  text-align: end;
  cursor: pointer;
}
