.app {
  background-image: url("/images/app-bg.png");
  background-size: cover;
  background-position: center;
  height: 100vh;
  overflow: hidden;
}

.app-wrapper {
  color: var(--color-text-main);
  background-color: var(--color-primary-shadow);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.app-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 60%;
  text-align: center;
  gap: 1.5rem;
  margin-top: -10rem;
}

.app-header {
  font-weight: 700;
  font-size: 64px;
  line-height: 80px;
}

.app-text {
  font-family: "Lato", sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: -2%;
  max-width: 800px;
}
