.button {
  border: none;
  cursor: pointer;
  padding: 8px 16px;
  width: 160px;
  font-weight: 700;
  font-size: 16px;
  height: 44px;
  border-radius: 5px;
  border: none;
  background-color: transparent;
}

.button__primary {
  background-color: transparent;
  color: var(--color-accent);
  border: 1px solid var(--color-accent);
}

.button__accent {
  color: var(--color-text-main);
  background-color: var(--color-accent);
}

.button__plain {
  color: var(--color-text-main);
  border-radius: 8px;
  border: 1px solid var(--color-text-main);
  background-color: transparent;
  font-size: 20px;
}
